/* :root {
	--primary: #fc7869;
	--secondary: gray;
	--tertiary-light: #dfe667;
	--tertiary-dark: #7ea310;
	--border-radius: 8px;
} */

:root {
	--primary: #f55353;
	--secondary: gray;
	--tertiary-light: #dfe667;
	--tertiary-dark: #143f6b;
	--border-radius: 8px;
}

* {
	box-sizing: border-box;
}
/* 
font-family: 'Caveat', cursive;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Fira Sans Extra Condensed', sans-serif; */

body {
	line-height: 1.5;
	font-size: 16px;
	font-family: "Fira Sans Condensed", sans-serif;
	background-image: url(../images/healthy-vegetables-wooden-table.jpg);
    background-size: cover;
}

header {
	background-color: var(--tertiary-light);
	display: flex;
    flex-direction: column;

}

.container {
    margin-top: 30px;
    flex: auto;
	flex-shrink: calc();
}

.main-title {
    display: flex;
}

}
.logo-1 {
	width: 100%;
    height: 100%;
	float: inline-start;
}

.logo-2 {
	float: inline-end;
	width: 90px;
}

.icon-box {
    width: 15%;
}

h1 {
	font-family: "Fira Sans Condensed", sans-serif;
	font-weight: bolder;
	font-size: 75px;
	margin-bottom: 0;
	color: var(--tertiary-dark);
	text-align: center;
}

h2 {
	font-family: "Caveat", cursive;
	font-size: 3.25rem;
	margin-top: 0;
	text-align: center;
}

h3 {
	font-size: 3rem;
	text-align: center;
	background-color: var(--primary);
	padding: 5px;
}

h4 {
	color: var(--secondary);
}

form {
	border: solid 3px var(--primary);
	background-color: var(--primary);
	border-radius: var(--border-radius);
}

.option-head {
	font-family: "Caveat", cursive;
	font-size: 2rem;
}

.second-helping {
	color: var(--secondary);
}

.footer-copyright {
	text-align: center;
	color: var(--secondary);
	background-color: var(--tertiary-dark);
}

.submit-button {
	position: relative;
	left: 60%;
}

.form {
	height: auto;
	padding-bottom: 40px;
}

.card {
    border: solid 10px var(--tertiary-light)
}
